<div class="moduletable">

  <h3>
    <span class="backh">
      <span class="backh2">
	<span class="backh3">Important Dates</span>
      </span>
    </span>
  </h3>
  
  <div class="custom">
    <table class="dates">
      <tr><td>Submission:</td><td><strong>May 15 ,2015 (extended)</strong></td></tr>
      <tr><td>Decision:</td><td><strong>May 20, 2015</strong></td></tr>
      <tr><td>Camera ready:</td><td><strong>cancelled</strong></td></tr>
      <tr><td>Registration:</td><td><strong>cancelled</strong></td></tr>
      <tr><td>Workshop:</td><td><strong>cancelled</strong></td></tr>
    </table>
  </div>

  <h3 style="margin: 20px 0 0 0; padding: 20px 0 0 0;">
    <span class="backh">
      <span class="backh2">
	<span class="backh3">Part Of</span>
      </span>
    </span>
  </h3>
  <div class="custom" style="margin: 10px 0 0 0; padding: 10px 0 0 0; background: #20446a; text-align: center;">
    <a href="http://ijcai-15.org/"><img src="img/ijcai.png" /></a>
  </div>
  
  <div class="custom" style="margin: 30px 0 0 0; padding: 30px 0 0 0">
    <a href="https://www.easychair.org/conferences/?conf=semcities15">Submission Site</a>
  </div>

</div>
