<div class="moduletable">
  <h3>
    <span class="backh">
      <span class="backh2">
	<span class="backh3">Important Dates</span>
      </span>
    </span>
  </h3>
  
  <div class="custom">
    <table class="dates">
      <tr><td>Submission:</td><td><strong>April 15 ,2015</strong></td></tr>
      <tr><td>Decision:</td><td><strong>May 1, 2015</strong></td></tr>
      <tr><td>Camera ready:</td><td><strong>May 15, 2015</strong></td></tr>
      <tr><td>Early registration:</td><td><strong>June 1, 2015</strong></td></tr>
      <tr><td>Workshop:</td><td><strong>July ?, 2015</strong></td></tr>
    </table>
  </div>

  <div class="custom" style="margin: 30px 0 0 0; padding: 30px 0 0 0">
    <a href="https://www.easychair.org/conferences/?conf=semcities15">Submission Site</a>
  </div>

</div>
